html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --dark-bg-color: #2f303a;
  --gray-bg-color: #f5f4fa;
  --border-color: #ececec;
  --card-border-color: #eeeeee;
  --btn-hover: #188ce8;
  --bg-overlay: rgba(33, 150, 243, 0.9);
  --bg-overlay-1: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --hover-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --primary-font-family: "Roboto";
  --accent-font-family: "Raleway";
  --icon-color: #afb1b8;
  --input-border-color: rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.mobile-header__mobile-btn {
  width: 55px;
  height: 55px;
  background-color: inherit;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-header__mobile-btn:hover .mobile-btn__icon,
.mobile-header__mobile-btn:focus .mobile-btn__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

.mobile-header .logo {
  padding: 16px 0;
  color: var(--black-color);
  margin-right: 88px;
  font-family: var(--accent-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.mobile-header .logo__item {
  color: var(--accent-color);
}

.modal-menu-container {
  position: fixed;
  padding: 48px 40px;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .modal-menu-container {
    display: none;
  }
}

.modal-menu-container__modal-menu-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  border: none;
  background-color: inherit;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-container__modal-menu-btn__icon {
  fill: var(--title-text-color);
}

.modal-menu-container__modal-menu-btn:hover .modal-menu-btn__icon,
.modal-menu-container__modal-menu-btn:focus .modal-menu-btn__icon {
  fill: var(--accent-color);
}

.modal-menu-container .site-nav__link-item:not(:last-child) {
  margin-bottom: 32px;
}

.modal-menu-container .site-nav__link {
  font-size: 40px;
  line-height: calc(47 / 40);
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-container .site-nav__link_current {
  color: var(--accent-color);
}

.modal-menu-container .contact-wrap {
  position: absolute;
  bottom: 48px;
  left: 40px;
  font-weight: 500;
}

.modal-menu-container .contact-wrap .contact__link-mobile {
  display: block;
  font-size: 34px;
  line-height: calc(40 / 34);
  color: var(--accent-color);
  margin-bottom: 32px;
}

.modal-menu-container .contact-wrap .contact__link-email {
  display: block;
  font-size: 28px;
  line-height: calc(40 / 28);
  color: var(--primary-text-color);
  margin-bottom: 64px;
}

.modal-menu-container .contact-wrap__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-menu-container .contact-wrap .social-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--input-border-color);
}

.modal-menu-container .contact-wrap .social-list__item:not(:first-child) {
  margin-left: 10px;
}

.modal-menu-container .contact-wrap .social-list__link {
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--accent-color);
}

.header {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: block;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
  }
}

.header .header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  display: block;
  color: var(--black-color);
  margin-right: 88px;
  font-family: var(--accent-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

.header .logo__item {
  color: var(--accent-color);
}

.header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .site-nav .site-nav__link-item {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .site-nav .site-nav__link-item:hover, .header .site-nav .site-nav__link-item:focus {
  color: var(--accent-color);
}

.header .site-nav a {
  display: block;
  padding: 32px 0;
}

.header .site-nav .site-nav__link:not(:last-child) {
  margin-right: 50px;
}

.header .site-nav .site-nav__link_current {
  color: var(--accent-color);
  position: relative;
}

.header .site-nav .site-nav__link_current::after {
  position: absolute;
  bottom: -1px;
  width: 100%;
  content: "";
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header .contact-list {
  display: block;
  margin: auto 0;
  text-align: right;
}

.header .contact-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .contact-list .link:hover, .header .contact-list .link:focus {
  color: var(--accent-color);
}

.header .contact-list .link:hover .contact__icon,
.header .contact-list .link:focus .contact__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header .contact-list .link {
    font-size: 14px;
  }
}

.header .contact-list__item:last-child {
  margin-top: 10px;
  padding-right: 14px;
}

.header .contact-list .link {
  display: block;
}

.header .contact-list .contact__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .contact-list .thumb {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .header .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .contact-list .contact-list__item {
    margin-top: 0;
  }
  .header .contact-list .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .header .contact-list .contact-list__item:last-child {
    padding: 0;
  }
  .header .contact-list .link {
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .contact-list .contact__icon_email {
    width: 16px;
    height: 12px;
  }
  .header .contact-list .contact__icon_phone {
    width: 10px;
    height: 16px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus, .button:hover {
  background-color: var(--btn-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-color: var(--dark-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.advantages__list:not(:last-child) {
  margin-bottom: 30px;
}

.advantages .list__title {
  text-align: center;
}

.advantages__thumb {
  border: transparent;
  border-radius: 4px;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: var(--gray-bg-color);
  text-align: center;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .advantages .list__title {
    text-align: start;
  }
  .advantages__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantages__list {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .advantages__list:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.works {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
    padding-top: 0;
  }
  .works .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works .work-list__item {
    position: relative;
  }
  .works .work-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .works .work-list__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--bg-overlay-1);
  }
}

.team {
  background-color: var(--gray-bg-color);
}

.team-list {
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-content {
  padding: 30px 32px;
}

.team-item {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}

.team-item:not(:last-child) {
  margin-bottom: 30px;
}

.team-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-transform: none;
  letter-spacing: 0.03em;
}

.team-item__position {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team .socials {
  margin: 0 auto;
  width: 182px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .team-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--white-color);
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .customers .customer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.customers .customer-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .customers .customer-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .customers .customer-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers .customer-item:nth-last-child(-n + 6) {
    margin-bottom: 0;
  }
}

.customers .customer-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .customer-item__link:hover, .customers .customer-item__link:focus {
  border-color: var(--accent-color);
  outline: none;
}

.customers .customer-item__link:focus .customer-item__icon,
.customers .customer-item__link:hover .customer-item__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .customers .customer-item__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .customers .customer-item__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers .customer-item__link {
    width: 170px;
  }
}

.customers .customer-item__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  text-align: center;
  padding: 60px 0;
  background-color: var(--dark-bg-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  font-family: var(--accent-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer .logo__item {
  color: var(--accent-color);
}

.footer .address-list__link {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .footer .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer .box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .box__item {
  margin: 0 auto 60px auto;
}

@media screen and (min-width: 768px) {
  .footer .box__item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .box__item {
    text-align: left;
    margin: 0;
  }
}

.footer .box .footer-wrap .footer-wrap__title {
  margin-bottom: 20px;
  padding-top: 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer .box .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer .box .socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer .box .icon {
  fill: var(--white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .box .socials .link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .box .socials .link:hover {
  background-color: var(--accent-color);
}

.address-info__address-list {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address-info__address-list {
    margin-bottom: 0;
  }
}

.address-info .address-list__address,
.address-info .address-list__mail,
.address-info .address-list__phone {
  color: var(--transparent-white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info .address-list__address:hover, .address-info .address-list__address:focus,
.address-info .address-list__mail:hover,
.address-info .address-list__mail:focus,
.address-info .address-list__phone:hover,
.address-info .address-list__phone:focus {
  color: var(--white-color);
}

.address-info .address-list__address {
  color: var(--white-color);
}

.address-info .link {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-info .link:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    padding-left: 0;
    display: block;
  }
}

.subscription__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 29px 8px 28px;
}

.subscription__item {
  display: inline-block;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .subscription__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__filter {
  margin-bottom: 50px;
}

.filter__item {
  margin-bottom: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 0;
  }
}

.filter__btn {
  padding: 6px 22px;
  background-color: var(--gray-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 700ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 700ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 700ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 700ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: var(--hover-box-shadow);
          box-shadow: var(--hover-box-shadow);
}

.filter__btn_current {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: var(--hover-box-shadow);
          box-shadow: var(--hover-box-shadow);
}

.portfolio {
  background-color: var(--white-color);
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .card-list {
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}

.card-item {
  width: 100%;
  margin-top: var(--card-set-gap);
  border: 1px solid var(--card-border-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:first-child {
  margin-top: 0;
}

.card-item:hover, .card-item:focus {
  -webkit-box-shadow: var(--box-card-shadow);
          box-shadow: var(--box-card-shadow);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card-item {
    margin-left: var(--card-set-gap);
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gap));
        flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
  .card-item:first-child {
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .card-item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
        flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

.card-item__title {
  color: var(--title-text-color);
  text-transform: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-item__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.card-item__img-wrapper {
  position: relative;
  overflow: hidden;
}

.card-item__content-wrapper {
  padding: 20px 24px;
}

.card-item__top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--white-color);
  overflow: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover .card-item__top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 450px;
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--white-color);
  border-radius: 4px;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop__modal {
  padding: 40px;
}

.modal__title {
  display: block;
  margin-bottom: 14px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__form-field {
  margin-bottom: 10px;
}

.wrapper {
  display: block;
  position: relative;
}

.wrapper__input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  padding-left: 40px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper__input:hover, .wrapper__input:focus {
  cursor: pointer;
  border-color: var(--accent-color);
}

.wrapper__input:hover + .wrapper__form-icon, .wrapper__input:focus + .wrapper__form-icon {
  fill: var(--accent-color);
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--fifth-text-color);
}

.form-field__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.form-field__textarea:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.form-field__textarea::-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.form-field__textarea::placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.form-field__textarea:focus {
  cursor: pointer;
  border-color: var(--accent-color);
}

.wrapper__form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-agreement {
    font-size: 14px;
  }
}

.modal-agreement__form-checkbox {
  margin-right: 7px;
}

.modal-agreement__link {
  margin-left: 5px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-agreement__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-agreement__agreement-checkbox:checked + .modal-agreement__icon {
  background-color: var(--accent-color);
  border-color: transparent;
}

.modal-form__btn {
  display: block;
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 55px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  right: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
  cursor: pointer;
}

.close-btn__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:focus .close-btn__icon,
.modal__close-btn:hover .close-btn__icon {
  fill: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */