.advantages__box {
  display: flex;
  justify-content: space-between;
}

.advantages__list {
  width: 23%;
}
.advantages__thumb {
  border: transparent;
  border-radius: 4px;
  padding: 25px 0;
  margin-bottom: 30px;

  background-color: var(--gray-bg-color);
  text-align: center;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
