.team {
  background-color: var(--gray-bg-color);
  &-list {
    // display: flex;
    text-align: center;
    justify-content: space-between;
  }
  &-content {
    padding: 30px 32px;
  }
  &-item {
    width: 100%;

    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--card-shadow);
    &:not(:last-child) {
        margin-bottom: 30px;
      }
  }
  &-item__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-transform: none;
    letter-spacing: 0.03em;
  }

  &-item__position {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  //дописала
  .socials {
    margin: 0 auto;
    width: 182px;
  }
  @media screen and (min-width: 1200px) {
    &-list {
      display: flex;
      text-align: center;
      justify-content: space-between;
    }
    &-item {
      width: 270px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
